<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <style>
      #banner{
        height: "360px";
        width: "100%";
        object-fit: cover;
      }
    </style>
  </head>
  <body>
  <div class="container">
    <h1 class="text-center mt-4 mb-4 fs-2 text"> NextHorizon – Where your career meets new possibilities.</h1>
    <img class="img-fluid mt-2 mb-4" id = "banner" src = "https://d6a3cc2b-5db7-443e-942a-eb2811023c56-00-3kaip5g0o3qq7.worf.replit.dev/static/banner.jpg" />
      
   <h2 class="text-center mt-2 mb-4">About NextHorizon</h2>
    
    <p class="lead mt-2 fw-normal">
      At NextHorizon, we believe every professional deserves a clear path to their fullest potential. Our mission is to connect ambitious individuals with the opportunities, insights, and resources they need to grow, succeed, and shape the careers they’ve always envisioned.

      Whether you’re exploring new job opportunities, seeking to level up your skills, or mapping out your next big career move, NextHorizon is your partner in professional growth. We provide tools, guidance, and a community that empowers you to take charge of your future—because the horizon is only the beginning.

      NextHorizon: Discover opportunities. Define your path. Reach beyond.
    </p>

    <h2 class="text-center mt-2 mb-4">Open Positions</h2>
    <div>
      {% for job in jobs %}
        {% include 'jobItem.html' %}
      {% endfor %}
    </div>
  <div class= "text-center">
    <button class="btn btn-primary btn-lg"> Contact us </button>
    <p class="mt-4">Copyright 2022, NextHorizon </p>
  </div>
</div>
  </body>
</html>